[user]
	name = Hilfi M. Alkaff
	email = alkaff2@illinois.edu
[color]
    ui = true
	diff = auto
	status = auto
	branch = auto

[color "branch"]
    current = blue
    local = yellow
    remote = magenta

[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = blue

[color "status"]
    added = yellow
    changed = blue

[core]
	excludesfile = ~/.gitignore_global
